<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="simple_mtm_v10">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="5.4719872648555E-12 0.0331941103362252 0.121119699522856"
        rpy="0 0 0" />
      <mass
        value="1.10120945723253" />
      <inertia
        ixx="0.00778946719068149"
        ixy="-1.55089607188298E-14"
        ixz="-7.15589016934064E-15"
        iyy="0.00613139149583515"
        iyz="-6.01985020734907E-07"
        izz="0.00283497412761364" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mtm_v11/meshes/visual/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mtm_v11/meshes/visual/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="right_J1_link">
    <inertial>
      <origin
        xyz="-0.0272468641090351 -0.00431239962159002 0.0136177788693075"
        rpy="0 0 0" />
      <mass
        value="0.217265269014196" />
      <inertia
        ixx="8.82896586774548E-05"
        ixy="-5.23747831657561E-06"
        ixz="4.84618661160386E-07"
        iyy="9.88337545554134E-05"
        iyz="3.160560405688E-07"
        izz="0.000161817724573325" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mtm_v11/meshes/visual/right_J1_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mtm_v11/meshes/visual/right_J1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_J1_joint"
    type="revolute">
    <origin
      xyz="0 0.216999999999988 0.284999999999997"
      rpy="-1.57079632679489 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_J1_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_J2_link">
    <inertial>
      <origin
        xyz="0.123474393867848 0.0151001355687571 0.00892223373852938"
        rpy="0 0 0" />
      <mass
        value="0.028442603557216" />
      <inertia
        ixx="2.23413747833825E-06"
        ixy="-3.63778375387454E-11"
        ixz="-8.63056316192372E-08"
        iyy="2.11946804960037E-05"
        iyz="1.95087355715519E-13"
        izz="2.18319915210086E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mtm_v11/meshes/visual/right_J2_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mtm_v11/meshes/visual/right_J2_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_J2_joint"
    type="revolute">
    <origin
      xyz="0.0349999999999925 0.0150999999999992 0.0200000000000018"
      rpy="3.14159265358979 0 0" />
    <parent
      link="right_J1_link" />
    <child
      link="right_J2_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_J3_link">
    <inertial>
      <origin
        xyz="0.169855168676658 -0.0030588386977515 0.000145482432828969"
        rpy="0 0 0" />
      <mass
        value="0.0380698507633094" />
      <inertia
        ixx="3.57015181869291E-06"
        ixy="5.77797289983113E-08"
        ixz="-8.33816062414886E-09"
        iyy="2.50590429093487E-05"
        iyz="-4.10119336474951E-09"
        izz="2.32459379312169E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mtm_v11/meshes/visual/right_J3_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mtm_v11/meshes/visual/right_J3_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_J3_joint"
    type="revolute">
    <origin
      xyz="0.227499999999998 0.0150999999999999 0.0195"
      rpy="1.5707963267949 0 -1.5707963267949" />
    <parent
      link="right_J2_link" />
    <child
      link="right_J3_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_G3_link">
    <inertial>
      <origin
        xyz="-0.000538298034256923 -0.0307137660110574 0.039930624443191"
        rpy="0 0 0" />
      <mass
        value="0.0139115090394775" />
      <inertia
        ixx="2.05714095768684E-06"
        ixy="1.18920441797106E-08"
        ixz="1.26103314022491E-08"
        iyy="3.24885522100954E-06"
        iyz="8.79998026858796E-09"
        izz="2.08516206561185E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mtm_v11/meshes/visual/right_G3_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mtm_v11/meshes/visual/right_G3_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_G3_joint"
    type="revolute">
    <origin
      xyz="0.192500000000002 0.00969999999999821 0"
      rpy="0 1.5707963267949 0" />
    <parent
      link="right_J3_link" />
    <child
      link="right_G3_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_G2_link">
    <inertial>
      <origin
        xyz="-0.000193564668082624 -0.0340058831715823 0.0387465222468122"
        rpy="0 0 0" />
      <mass
        value="0.000175394578104925" />
      <inertia
        ixx="6.00806245621315E-09"
        ixy="1.19071568961015E-11"
        ixz="-1.77273008759156E-09"
        iyy="7.79464906245331E-09"
        iyz="3.12378910526836E-11"
        izz="2.03310817422897E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mtm_v11/meshes/visual/right_G2_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mtm_v11/meshes/visual/right_G2_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_G2_joint"
    type="revolute">
    <origin
      xyz="-0.0139815439024298 0.00129786118054417 0.0772341692003624"
      rpy="-3.14159265358979 0.364174851103282 -3.14159265358979" />
    <parent
      link="right_G3_link" />
    <child
      link="right_G2_link" />
    <axis
      xyz="0.356178381855326 0 0.934417979439031" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_G1_link">
    <inertial>
      <origin
        xyz="0.00018689693137236 -0.119856134439348 0.0397448705988263"
        rpy="0 0 0" />
      <mass
        value="0.00625621520567208" />
      <inertia
        ixx="1.27666098425882E-05"
        ixy="-3.81984029962047E-10"
        ixz="1.82290603449966E-09"
        iyy="1.14531246370276E-07"
        iyz="-1.08584454873241E-09"
        izz="1.27722041084183E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mtm_v11/meshes/visual/right_G1_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mtm_v11/meshes/visual/right_G1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_G1_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="right_G2_link" />
    <child
      link="right_G1_link" />
    <axis
      xyz="0.934417979439031 0 -0.356178381855326" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_lever_1_link">
    <inertial>
      <origin
        xyz="0.00510793200874701 -0.0889448703770281 0.0529085638546365"
        rpy="0 0 0" />
      <mass
        value="0.00204075415287948" />
      <inertia
        ixx="7.29183551455903E-07"
        ixy="-6.03030711122902E-08"
        ixz="-1.19420109398606E-08"
        iyy="6.47741964762146E-08"
        iyz="-1.39761570231975E-07"
        izz="7.10623170243152E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mtm_v11/meshes/visual/right_lever_1_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mtm_v11/meshes/visual/right_lever_1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_lever_1_joint"
    type="revolute">
    <origin
      xyz="-0.000578106027015302 0.00496024892621399 0.0771324048250518"
      rpy="-3.12182427052133 -7.44784606204923E-05 -3.13405782561958" />
    <parent
      link="right_G1_link" />
    <child
      link="right_lever_1_link" />
    <axis
      xyz="0.934417979439032 0 -0.356178381855324" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_lever_2_link">
    <inertial>
      <origin
        xyz="0.00510793196677284 -0.0889448706223261 0.0529085639711742"
        rpy="0 0 0" />
      <mass
        value="0.00204075409890077" />
      <inertia
        ixx="7.2918356031614E-07"
        ixy="-6.0303075402171E-08"
        ixz="-1.19420115546858E-08"
        iyy="6.47741938421055E-08"
        iyz="-1.39761574634627E-07"
        izz="7.10623180129961E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mtm_v11/meshes/visual/right_lever_2_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mtm_v11/meshes/visual/right_lever_2_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_lever_2_joint"
    type="revolute">
    <origin
      xyz="0.00036791989843285 0.00447042270834766 0.000824842222483302"
      rpy="0.00686960114312612 0 -0.00261851443835586" />
    <parent
      link="right_G1_link" />
    <child
      link="right_lever_2_link" />
    <axis
      xyz="-0.934417979439032 0 0.356178381855325" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>