<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="simple_mtm_v2">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="1.88680165694019E-11 -7.89088179079373E-13 0.146649913025819"
        rpy="0 0 0" />
      <mass
        value="1.28910373447466" />
      <inertia
        ixx="0.00787183936947509"
        ixy="-2.38713384479774E-14"
        ixz="-1.55008948184701E-14"
        iyy="0.0062829958134847"
        iyz="-1.08474587499532E-14"
        izz="0.00295338481354163" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_mtm_v2/meshes/visual/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_mtm_v2/meshes/visual/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="right_J1_link">
    <inertial>
      <origin
        xyz="-0.0272468641090351 -0.00431239962159147 0.0136177788693088"
        rpy="0 0 0" />
      <mass
        value="0.217265269014195" />
      <inertia
        ixx="8.82896586774549E-05"
        ixy="-5.23747831657562E-06"
        ixz="4.8461866116039E-07"
        iyy="9.88337545554133E-05"
        iyz="3.16056040568797E-07"
        izz="0.000161817724573325" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_mtm_v2/meshes/visual/right_J1_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_mtm_v2/meshes/visual/right_J1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_J1_joint"
    type="fixed">
    <origin
      xyz="0 0.216999999999988 0.284999999999997"
      rpy="-1.57079632679489 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_J1_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right_J2_link">
    <inertial>
      <origin
        xyz="0.123474393867848 0.0151001355687586 0.00892223373852799"
        rpy="0 0 0" />
      <mass
        value="0.028442603557216" />
      <inertia
        ixx="2.23413747833826E-06"
        ixy="-3.63778375397653E-11"
        ixz="-8.63056316192391E-08"
        iyy="2.11946804960037E-05"
        iyz="1.95087354662905E-13"
        izz="2.18319915210086E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_mtm_v2/meshes/visual/right_J2_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_mtm_v2/meshes/visual/right_J2_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_J2_joint"
    type="fixed">
    <origin
      xyz="0.0349999999999925 0.0150999999999992 0.0200000000000018"
      rpy="3.14159265358979 0 0" />
    <parent
      link="right_J1_link" />
    <child
      link="right_J2_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right_J3_link">
    <inertial>
      <origin
        xyz="0.169855168688952 -0.00305883869648604 0.000145482432614141"
        rpy="0 0 0" />
      <mass
        value="0.0380698507697238" />
      <inertia
        ixx="3.57015181856013E-06"
        ixy="5.77797289659661E-08"
        ixz="-8.3381605126793E-09"
        iyy="2.50590429109014E-05"
        iyz="-4.10119337476326E-09"
        izz="2.32459379326265E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_mtm_v2/meshes/visual/right_J3_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_mtm_v2/meshes/visual/right_J3_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_J3_joint"
    type="fixed">
    <origin
      xyz="0.227499999999998 0.0150999999999999 0.0195"
      rpy="1.5707963267949 0 -1.5707963267949" />
    <parent
      link="right_J2_link" />
    <child
      link="right_J3_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right_G3_link">
    <inertial>
      <origin
        xyz="-0.000538297476743999 -0.0307137661844251 0.0399306243530034"
        rpy="0 0 0" />
      <mass
        value="0.0139115084786958" />
      <inertia
        ixx="2.05714094634586E-06"
        ixy="1.1892075465608E-08"
        ixz="1.26103144141432E-08"
        iyy="3.24885510161296E-06"
        iyz="8.7999754923934E-09"
        izz="2.08516194030023E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_mtm_v2/meshes/visual/right_G3_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_mtm_v2/meshes/visual/right_G3_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_G3_joint"
    type="fixed">
    <origin
      xyz="0.192500000000002 0.00969999999999821 0"
      rpy="0 1.5707963267949 0" />
    <parent
      link="right_J3_link" />
    <child
      link="right_G3_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right_G2_link">
    <inertial>
      <origin
        xyz="-0.000193564668082208 -0.0340058831715834 0.0387465222468135"
        rpy="0 0 0" />
      <mass
        value="0.000175394578104925" />
      <inertia
        ixx="6.00806245621315E-09"
        ixy="1.19071568960991E-11"
        ixz="-1.77273008759156E-09"
        iyy="7.79464906245331E-09"
        iyz="3.12378910526827E-11"
        izz="2.03310817422897E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_mtm_v2/meshes/visual/right_G2_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_mtm_v2/meshes/visual/right_G2_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_G2_joint"
    type="fixed">
    <origin
      xyz="-0.0139815439024298 0.00129786118054417 0.0772341692003624"
      rpy="-3.14159265358979 0.364174851103282 -3.14159265358979" />
    <parent
      link="right_G3_link" />
    <child
      link="right_G2_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right_G1_link">
    <inertial>
      <origin
        xyz="0.000186896931328256 -0.119856134438225 0.0397448705989013"
        rpy="0 0 0" />
      <mass
        value="0.00625621520582894" />
      <inertia
        ixx="1.27666098433788E-05"
        ixy="-3.81984009277203E-10"
        ixz="1.82290603543817E-09"
        iyy="1.145312463721E-07"
        iyz="-1.08584458211379E-09"
        izz="1.2772204109208E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_mtm_v2/meshes/visual/right_G1_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_mtm_v2/meshes/visual/right_G1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_G1_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="right_G2_link" />
    <child
      link="right_G1_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right_lever_1_link">
    <inertial>
      <origin
        xyz="0.00510793204640073 -0.0889448697520081 0.0529085641186359"
        rpy="0 0 0" />
      <mass
        value="0.00204075410055779" />
      <inertia
        ixx="7.29183513257834E-07"
        ixy="-6.03030693249951E-08"
        ixz="-1.19420101275413E-08"
        iyy="6.47741906382632E-08"
        iyz="-1.3976155674729E-07"
        izz="7.10623137553932E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_mtm_v2/meshes/visual/right_lever_1_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_mtm_v2/meshes/visual/right_lever_1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_lever_1_joint"
    type="fixed">
    <origin
      xyz="-0.000578106027015302 0.00496024892621399 0.0771324048250518"
      rpy="-3.12182427052133 -7.44784606204923E-05 -3.13405782561958" />
    <parent
      link="right_G1_link" />
    <child
      link="right_lever_1_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right_lever_2_link">
    <inertial>
      <origin
        xyz="0.00510793196677625 -0.0889448706223118 0.0529085639711716"
        rpy="0 0 0" />
      <mass
        value="0.00204075409888612" />
      <inertia
        ixx="7.29183560316009E-07"
        ixy="-6.03030754022305E-08"
        ixz="-1.1942011554855E-08"
        iyy="6.47741938416197E-08"
        iyz="-1.39761574634597E-07"
        izz="7.10623180129432E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_mtm_v2/meshes/visual/right_lever_2_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_mtm_v2/meshes/visual/right_lever_2_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_lever_2_joint"
    type="fixed">
    <origin
      xyz="0.00036791989843285 0.00447042270834766 0.000824842222483302"
      rpy="0.00686960114312612 0 -0.00261851443835586" />
    <parent
      link="right_G1_link" />
    <child
      link="right_lever_2_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="left_J1_link">
    <inertial>
      <origin
        xyz="-0.0272470459025141 -0.00431247037624372 -0.0136176602573094"
        rpy="0 0 0" />
      <mass
        value="0.217267755163641" />
      <inertia
        ixx="8.82896121461167E-05"
        ixy="-5.23762425220009E-06"
        ixz="-4.84573947078784E-07"
        iyy="9.88338996756001E-05"
        iyz="-3.16058105744323E-07"
        izz="0.00016181783250205" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_mtm_v2/meshes/visual/left_J1_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_mtm_v2/meshes/visual/left_J1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_J1_joint"
    type="fixed">
    <origin
      xyz="0 -0.216999999999989 0.284999999999993"
      rpy="-1.57079632679489 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_J1_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="left_J2_link">
    <inertial>
      <origin
        xyz="0.123474376253567 0.0151001317387124 -0.00892223154220381"
        rpy="0 0 0" />
      <mass
        value="0.028442627260003" />
      <inertia
        ixx="2.23414031770246E-06"
        ixy="-3.46546052584575E-11"
        ixz="8.63065996445528E-08"
        iyy="2.11946848479022E-05"
        iyz="2.86654442983365E-13"
        izz="2.1831996008116E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_mtm_v2/meshes/visual/left_J2_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_mtm_v2/meshes/visual/left_J2_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_J2_joint"
    type="fixed">
    <origin
      xyz="0.034999999999992 0.0150999999999917 -0.0200000000000006"
      rpy="3.14159265358979 0 0" />
    <parent
      link="left_J1_link" />
    <child
      link="left_J2_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="left_J3_link">
    <inertial>
      <origin
        xyz="0.169855168692299 0.0220042156608663 0.000810336996839744"
        rpy="0 0 0" />
      <mass
        value="0.0380698507712207" />
      <inertia
        ixx="3.57015181860274E-06"
        ixy="-2.38874136305798E-07"
        ixz="8.33829000962131E-09"
        iyy="2.50590429111516E-05"
        iyz="-4.10119337573407E-09"
        izz="2.32459379329194E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_mtm_v2/meshes/visual/left_J3_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_mtm_v2/meshes/visual/left_J3_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_J3_joint"
    type="fixed">
    <origin
      xyz="0.227499999999999 0.0150999999999933 -0.0385024999999999"
      rpy="1.5707963267949 0 -1.5707963267949" />
    <parent
      link="left_J2_link" />
    <child
      link="left_J3_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="left_G3_link">
    <inertial>
      <origin
        xyz="-0.000538297476745053 -0.0307137661844248 0.0399306243530081"
        rpy="0 0 0" />
      <mass
        value="0.0139115084786958" />
      <inertia
        ixx="2.05714094634586E-06"
        ixy="1.18920754656084E-08"
        ixz="1.26103144141396E-08"
        iyy="3.24885510161296E-06"
        iyz="8.79997549239383E-09"
        izz="2.08516194030022E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_mtm_v2/meshes/visual/left_G3_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_mtm_v2/meshes/visual/left_G3_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_G3_joint"
    type="fixed">
    <origin
      xyz="0.192499999999995 0.00930250000000174 0.00144781733221183"
      rpy="0 -1.5707963267949 0" />
    <parent
      link="left_J3_link" />
    <child
      link="left_G3_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="left_G2_link">
    <inertial>
      <origin
        xyz="-0.000193564668083623 -0.034005883171583 0.038746522246809"
        rpy="0 0 0" />
      <mass
        value="0.000175394578104925" />
      <inertia
        ixx="6.00806245621312E-09"
        ixy="1.19071568960985E-11"
        ixz="-1.77273008759156E-09"
        iyy="7.79464906245329E-09"
        iyz="3.12378910526815E-11"
        izz="2.03310817422898E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_mtm_v2/meshes/visual/left_G2_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_mtm_v2/meshes/visual/left_G2_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_G2_joint"
    type="fixed">
    <origin
      xyz="-0.0139815439024314 0.00129786118054412 0.0772341692003621"
      rpy="-3.14159265358979 0.364174851103304 -3.14159265358979" />
    <parent
      link="left_G3_link" />
    <child
      link="left_G2_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="left_G1_link">
    <inertial>
      <origin
        xyz="0.000186728084367815 -0.11985700375904 0.0397449303655639"
        rpy="0 0 0" />
      <mass
        value="0.00625641985800947" />
      <inertia
        ixx="1.27670356507103E-05"
        ixy="-3.77573504156372E-10"
        ixz="1.81995670745346E-09"
        iyy="1.14533215504505E-07"
        iyz="-1.08542667483418E-09"
        izz="1.27726307963189E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_mtm_v2/meshes/visual/left_G1_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_mtm_v2/meshes/visual/left_G1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_G1_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="left_G2_link" />
    <child
      link="left_G1_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="left_lever_1_link">
    <inertial>
      <origin
        xyz="0.00510793200875104 -0.0889448703770132 0.0529085638546361"
        rpy="0 0 0" />
      <mass
        value="0.00204075415286449" />
      <inertia
        ixx="7.29183551455772E-07"
        ixy="-6.03030711123507E-08"
        ixz="-1.19420109400315E-08"
        iyy="6.47741964757222E-08"
        iyz="-1.39761570231945E-07"
        izz="7.10623170242619E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_mtm_v2/meshes/visual/left_lever_1_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_mtm_v2/meshes/visual/left_lever_1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_lever_1_joint"
    type="fixed">
    <origin
      xyz="-0.000578106027015246 0.00496024892621399 0.0771324048250518"
      rpy="-3.12182427052133 -7.44784606198274E-05 -3.13405782561958" />
    <parent
      link="left_G1_link" />
    <child
      link="left_lever_1_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="left_lever_2_link">
    <inertial>
      <origin
        xyz="0.00510793196677478 -0.0889448706223119 0.052908563971167"
        rpy="0 0 0" />
      <mass
        value="0.00204075409888613" />
      <inertia
        ixx="7.29183560316017E-07"
        ixy="-6.03030754022303E-08"
        ixz="-1.19420115548552E-08"
        iyy="6.47741938416205E-08"
        iyz="-1.39761574634599E-07"
        izz="7.10623180129439E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_mtm_v2/meshes/visual/left_lever_2_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_mtm_v2/meshes/visual/left_lever_2_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_lever_2_joint"
    type="fixed">
    <origin
      xyz="0.000367919898432878 0.00447042270834802 0.00082484222248326"
      rpy="0.00686960114312585 0 -0.0026185144383561" />
    <parent
      link="left_G1_link" />
    <child
      link="left_lever_2_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>